body{
    background-color: white;
}
.name {
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.annoucement-bar {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: rgb(167, 158, 158);
    color: rgb(209, 204, 204);
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.8em;
}

.annoucement-bari {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: rgb(167, 158, 158);
    color: rgb(209, 204, 204);
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.8em;
}

#H,
#P,
#L,
#C,
#R {
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: ; 
    text-transform: capitalize;
    transition: all .2s linear;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 90vh;
    padding-bottom: 70px;
}
.container form{
    padding: 20px;
    width: 700px;
    background: rgb(167, 158, 158);
    box-shadow: 0 5px 10px black;
}
.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.pay{
    align-items: ;
}