body{
    background-color: white;
}
.name {
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.annoucement-bar {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: rgb(167, 158, 158);
    color: rgb(209, 204, 204);
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.8em;
}

.annoucement-bari {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: rgb(167, 158, 158);
    color: rgb(209, 204, 204);
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.8em;
}

#H,
#P,
#L,
#C,
#R {
    color: white;
}

